/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans&family=Overpass:wght@100;200;300;400;600&display=swap');
/* 
font-family: 'DM Serif Display', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Overpass', sans-serif;
*/

html,
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	line-height: 0.95;
	height: 10000px;
}

body.hide {
	height: 100vh;
	overflow: hidden;
	padding-right: 17px;
}

.wrapper-mid {
	max-width: 1300px;
	margin: auto;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

a:link,
a:visited,
a:active,
a:hover {
	color: inherit;
	text-decoration: none;
}

.w-100 {
	width: 100%;
}

.mw-100 {
	max-width: 100%;
}

.rel {
	position: relative;
}

.hover-line{display: inline-block;}
.hover-line::after {
	display: block;
	content: "";
	border-top: 1px solid #111;
	margin-top: 0.25em;
	transition: all 0.3s;
	transform: scaleX(0);
	transform-origin: left;
}

.hover-line:hover::after {
	transform: scaleX(1);
	transform-origin: right;
}

.bt-blue {
	width: 100%;
	text-align: center;
	background-color: #293355;
	font-weight: bold;
	color: #f9f9f9;
	padding: 1.125em 0;
	border: none;
	transition: all 0.3s;
	display: block;
}

.bt-blue:hover {
	background-color: #fff;
	color: #293355;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .3);
}

.bt-white {
	width: 100%;
	text-align: center;
	background-color: #fff;
	font-weight: bold;
	color: #293355;
	padding: 1.125em 0;
	border: none;
	transition: all 0.3s;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .3);
	display: block;
}

.bt-white:hover {
	background-color: #293355;
	color: #f9f9f9
}

.bold {
	font-weight: bold;
}

.bold:hover {
	color: #ba7a2d;
}

.tc {
	text-align: center;
}

.title-link {
	color: #ba7a2d;
	text-transform: uppercase;
}

.prd {user-select: none;position: relative;padding: 0 1em;}
.prd .label-wrap{position: absolute;top: 1em;left: 2em;z-index: 2;text-align: center;color: #f9f9f9;font-weight: bold;font-size: 0.875em;}
.prd .label-wrap .label{padding: .75em 0.5em;border-radius: 5px;margin-bottom: 0.25em;}
.prd .label-wrap .label-sale{background:#ba7a2d;}
.prd .label-wrap .label-new{background: #293356;}
.prd .label-wrap .label-bundle{background: #232323;}
.prd .quick-wrap{position: absolute;top: 1em;right: 2em;z-index: 2;
	text-align: center;color: #f9f9f9;font-size: 0.875em;background: rgba(0,0,0,0.3);opacity:0;padding: .75em;border-radius: 5px;width: auto;transition: .3s;display: flex;align-items: center;visibility: hidden;}
.prd:hover .quick-wrap {opacity: 1;visibility: visible;}
.prd .quick-wrap i{display: inline-block;}
.prd .quick-wrap span{display: inline-block;text-indent: -120px;opacity: 0;padding-left: 0.25em;transition: .3s;}
.prd .quick-wrap:hover span{opacity: 1;text-indent: 0px;}
.prd .img-wrap{position: relative;}
.prd .img-wrap:hover .img-front{opacity: 0;}
.prd .img-wrap .img-front{position: absolute;left: 0;
top: 0; transition: 1s;}
.prd .img-wrap .bt-white{position: absolute;left: 50%;transform: translateX(-50%);bottom: 2em;z-index: 2;width: 80%;padding: 1.5em 0;
opacity: 0;transition: .3s;}
.prd:hover .img-wrap .bt-white{opacity: 1;}
.prd .title-wrap{padding: 1em 0;justify-content: space-between;display: flex;}

.prd .title-wrap .title{font-weight: bold;}
.prd .thumb-wrap{display: flex;padding: 0.5em 0;}
.prd .thumb-wrap .thumb{margin: 0 0.5em; margin-left:0;
 position: relative;
}
.prd .thumb-wrap .thumb:hover .popper{opacity: 1;visibility: visible;}
.prd .thumb-wrap .thumb .thumb-img-wrap {overflow: hidden;border-radius: 50%;width: 32px;height: 32px;transition: .6s;border: 2px solid transparent}
.prd .thumb-wrap .thumb.active > :first-child{border: 2px solid #ba7a2d}
.prd .thumb-wrap .thumb .popper {position: absolute;left: 50%;top: -100%;background: #ba7a2d;padding: 0.5em;border-radius: 5px;color: #f9f9f9;transform: translateX(-50%);opacity: 0;transition: 1s;visibility: hidden;}
.prd .thumb-wrap .thumb .popper::after{display: block;content: "";
width: 4px;height: 4px;transform: rotate(45deg) translateX(-50%);position: absolute;left: 50%;top: 2em;background: #ba7a2d;}
.prd .description{padding: 0.5em 0; }
.prd .price{font-weight: bold;color: #ba7a2d;padding: 0.5em 0;}
.prd .star-wrap{padding:0.5em 0;display: flex;justify-content: space-between;}
.prd .star-wrap .bt-more{font-size: 0.75em;color: #777;}
.prd .star .mask {background: #fff;}

/************ .header-wrapper *************/
.header-wrapper {
	color: #333;
}

.header-wrapper .cart-cnt {
	background-color: #ba7a2d;
	color: #f9f9f9;
	font-size: 0.625em;
	position: absolute;
	bottom: -0.3em;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
}

.top-wrapper {
	background-color: #293356;
	color: #f9f9f9;
	font-family: 'Overpass', sans-serif;
	padding: 1em 0;

}

.top-wrapper .top-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.top-wrapper .top-wrap .icon-earth {
	margin-right: 0.5em;
}

.top-wrapper .top-wrap .icon-down {
	margin-right: 1.5em;
	cursor: pointer;
}

.top-wrapper .top-wrap .event {
	margin-left: auto;
	margin-right: 1em;
}

.top-wrapper .top-wrap .notice {
	font-weight: 100;
}

.trans-wrapper {
	position: absolute;
	top: 1.75em;
	color: #111;
	display: flex;
	user-select: none;
	background-color: #fff;
	padding: 0.5em 0;
	box-shadow: 0 .25em .5em rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.trans-wrapper>div:not(.line) {
	display: flex;
	align-items: center;
	padding: 0 1.5em;
	position: relative;
}

.trans-wrapper>div:not(.line)>* {
	padding: 0 0.325em;
}

.trans-wrapper>div.line {
	width: 0;
	border-left: 1px solid #ccc;
}

.trans-wrapper .flag,
.trans-wrapper .flag-now {
	width: 1.125em;
	height: 1.125em;
	background-position: center;
	background-size: auto 100%;
	border-radius: 50%;
}

.trans-wrapper .bt-down {
	color: #444;
	cursor: pointer;
}

.trans-wrapper .bt-down:hover {
	color: #999;
}

.trans-wrapper>div:not(.line)>ul {
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 1.75em;
	left: 0;
	padding: 0.5em;
	text-align: center;
	box-shadow: 0 .25em .5em rgba(0, 0, 0, 0.3);
}

.trans-wrapper>div:not(.line)>ul>li {
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.trans-wrapper>div:not(.line)>ul>li.title {
	font-size: 0.875em;
}

.trans-wrapper>div:not(.line)>ul>li>.flag {
	margin-right: 1em;
}

.trans-wrapper>div:not(.line)>ul>li>span.active {
	border-bottom: 1px solid #111;
}


/************ .logo-wrapper *************/
.logo-wrapper {
	display: flex;
	align-items: center;
	padding: 1.25em 0;
	background: #fff;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;

}

.logo-wrapper .logo-wrap {
	margin-right: auto;
}

.logo-wrapper .bars {
	font-size: 2em;
	margin-right: 1em;
	cursor: pointer;
	display: none;
}

.logo-wrapper .bars:hover {
	color: #454e5f;
}

.logo-wrapper .link-wrap {
	display: flex;
	align-items: center;
}

.logo-wrapper .event {
	border: 1px solid #ba7a2d;
	color: #ba7a2d;
	padding: 0.5em 3em;
	text-align: center;
	line-height: 1.325;
	margin-right: 1.5em;
}

.logo-wrapper .event> :first-child {
	font-weight: bold;
	letter-spacing: 0.2em;
}

.logo-wrapper .a-login {
	margin-right: 0.5em;
}

.logo-wrapper .bt-login {
	font-size: 1.5em;
}

.logo-wrapper .a-login:hover {
	color: #454e5f;
}

.logo-wrapper .bt-login:hover {
	color: #454e5f;
}

.logo-wrapper .link-mo-wrap {
	display: none;
}

.logo-wrapper .link-mo-wrap>a {
	font-size: 1.5em;
	margin-right: 1em;
}

.logo-wrapper .link-mo-wrap>a:hover {
	color: #454e5f;
}


/************ .navi-wrapper *************/

.navi-wrapper {
	border-top: 1px solid #eaeaea;
	z-index: 99;
	width: 100%;
	top: 0;
	background: #fff;
}

.navi-wrapper>.wrapper {
	display: flex;
	align-items: center;
}

.navi-wrapper .navi-logo {
	display: none;
	width: 50px;
	margin: 0 9% 0 2%;
}

.navi-wrapper>.wrapper>.navi {
	padding: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.navi-wrapper>.wrapper>.navi:first-child {
	padding-left: 0;
}

.navi-wrapper .a-search {
	margin-left: auto;
	margin-right: 0.5em;
}

.navi-wrapper a .fa {
	font-size: 1.5em;
}

.navi-wrapper .navi a .fa {
	font-size: 0.75em;
}

.navi-wrapper .line {
	border-left: 1px solid #eaeaea;
	height: 1.5em;
}

.navi-wrapper a.bt-search,
.navi-wrapper span.line,
.navi-wrapper a.bt-wishlist {
	margin-right: 2em;
}

.navi-wrapper a.bt-login {
	display: none;
	margin: 0 2em 0 1.75em;
}

.sub-wrapper {
	position: absolute;
	width: 100%;
	top: 3.9em;
	left: 0;
	background-color: #fff;
	font-weight: normal;
	letter-spacing: -0.05em;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: 0.25s;
	transform: translateY(50px);
}

.sub-wrapper.active {
	transform: translateY(0);
	height: auto;
	opacity: 1;
	overflow: visible;
	border-top: 1px solid #eaeaea;
}

.sub-wrapper .sub-navi-wrapper {
	padding: 2.5em 0 1.5em 0;
	display: flex;
	align-items: flex-start;
}

.sub-wrapper .sub-navi-wrap {
	flex: 0 0 18%;
	margin-right: 2%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sub-wrapper .sub-navi {
	padding: 0.5em 0;
}

.sub-wrapper .sub-banner {
	flex: 0 0 38%;
	margin-left: auto;
	margin-top: 0.5em;
	overflow: hidden;
}

.sub-wrapper .sub-banner>img {
	transition: all 0.75s;
	opacity: .8
}

.sub-wrapper .sub-banner:hover>img {
	transform: scale(1.2);
	opacity: 1;
}

.slide-container {
	background-color: #eaeaea;
	padding: 2em 0;
}

.wrapper-mid .bt-arrow {
	font-size: 3em;
	color: #293356;
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
}

.wrapper-mid .bt-prev {
	left: 0;
	z-index: 2;
}

.wrapper-mid .bt-next {
	right: 0;
	z-index: 2;
}

.navi-bottom {
	background-color: #eaeaea;
	padding: 2em 0;
}

.slide-wrapper .slide {
	display: flex;
	justify-content: space-between;
}

.slide-wrapper .slide>.img-wrap {
	flex: 40% 0 0;
}

.slide-wrapper .slide>.content-wrap {
	flex: 55% 0 0;
}

.slide-wrapper .slide>.content-wrap>.title {
	font-weight: bold;
	padding: 1em 0;
}

.slide-wrapper .slide>.content-wrap>.summary {
	line-height: 1.5em;
	color: #555;
}

.star {
	padding: 0.5em 0; position: relative;overflow: hidden;display: inline-block;
}
.star>.mask{position: absolute;width: 100%;height: 100%;background: #eaeaea;left: 0;top: 0;}
.star>i {
	color: #aaa;
}

.star>i.active {
	color: #ba7a2d;
}

.slide-wrapper .slide>.content-wrap>.content {
	color: #aaa;
}

.slide-wrapper .slide>.content-wrap>.content>.origin {
	color: #555;
}

.slide-wrapper .slide>.content-wrap>.price-sale {
	color: #ba7a2d;
	padding: 1em 0;
	font-weight: bold;
}

.navi-wrapper .navi-best .navi-bottom {
	padding: 0;
}

.navi-wrapper .navi-best .navi-bottom>.wrapper {
	display: flex;
	align-items: center;
}

.navi-wrapper .navi-best .navi-bottom>.wrapper>* {
	flex: 33.3333% 0 0;

}

.navi-wrapper .sales-wrapper {
	display: flex;
}

.navi-wrapper .sales-wrapper .brand-wrap {
	flex: 20% 0 0;
	display: flex;
	align-items: center;
	height: 600px;
	flex-direction: column;
}

.navi-wrapper .sales-wrapper .brand-wrap .img-wrap {
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.navi-wrapper .sales-wrapper .brand-wrap .brand-link {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50%;
}

.sub-wrapper2 {
	position: absolute;
	box-shadow: 0 .125em .5em rgba(0, 0, 0, 0.3);
	padding: 0.5em 1em;
	top: 3.9em;
	left: 0;
	background: #fff;
	display: none;
}

.sub-wrapper2 .depth {
	padding: 1em 0;
	width: 180px;
	font-weight: lighter;
	font-size: 0.875em;
	user-select: none;
	cursor: pointer;
	position: relative;
	background: #fff;
}

.sub-wrapper2 .depth:not(:last-child) {
	border-bottom: 1px solid #eaeaea;
}

.sub-wrapper2 .depth2>ul {
	position: absolute;
	top: 0;
	left: calc(180px + 1.25em);
	background: #fff;
	box-shadow: 0.25em .125em .25em rgba(0, 0, 0, 0.3);
	padding: 0.5em 1em;
	z-index: 9;
	display: none;
}

.main-wrapper .swiper-slide img {
	width: 100%;
}

.main-wrapper .pager-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 1em;
	left: 50%;
	z-index: 9;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.5em;
}

.main-wrapper .bt-arrow {
	font-size: 2.5em;
	color: #fff;
	text-shadow: 0 0 0.25em rgba(0, 0, 0, .5);
	user-select: none;
	cursor: pointer;
	padding: 0.5em;
	font-weight: bold;
}

.main-wrapper .swiper-pagination-bullet {
	width: 1em;
	height: 1em;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: 1;
	margin: 1em;
}

.main-wrapper .swiper-pagination-bullet-active {
	background: #293355;
}

.main-wrapper .slogan-wrapper {
	position: absolute;
	background: #fff;
	padding: 0.5em;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
}

.main-wrapper .slogan-wrap {
	border: 3px solid #bbb;
	padding: 4em 6em;
	text-align: center;
}

.main-wrapper .slogan-wrap h4 {
	font-weight: bold;
	margin-bottom: 2em;
}

.main-wrapper .slogan-wrap h3 {
	font-size: 3.5em;
	font-weight: bold;
	font-family: 'DM Serif Display', serif;
}

.main-wrapper .slogan-wrap p {
	margin: 2.5em 0;
}

.main-wrapper .slogan-wrap a {
	display: block;
	padding: 2em 5em;
	background: #293355;
	color: #f9f9f9;
	transition: 0.5s;
	font-weight: bold;
}

.main-wrapper .slogan-wrap a:hover {
	background: #fff;
	box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.3);
	color: #293355;
}

/************ 모달  *************/
.modal-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	z-index: 999;
	display: none;
	transition: .3s;
	opacity: 0;
}

.modal-container.active {
	opacity: 1;
}

.modal-container .modal-wrapper {
	transition: .3s;
	width: 400px;
	background: #fff;
	position: absolute;
}

.modal-container .type-rt {
	right: 0;
	top: 0;
	height: 100vh;
	transform: translateX(100%);
}

.modal-container .type-lt {
	left: 0;
	top: 0;
	height: 100vh;
	transform: translateX(-100%);
}

.modal-container .modal-wrapper.active {
	transform: translateX(0);
}


/************ looking-wrapper *************/
.looking-wrapper {
	padding: 4em 0;
}

.looking-wrapper .spot-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.looking-wrapper .spot-wrapper .spot {
	flex: 16.6666% 0 0;
	text-align: center;
}

.looking-wrapper .spot-wrapper .spot .title {
	display: inline-block;
}

/************ best-wrapper *************/
.prd-wrapper{padding: 3em 0;}
.prd-wrapper .prd-wrap{display: flex;}
.prd-wrapper .prd-wrap .prd{width: 25%;flex-shrink: 0;flex-grow: 0;}


/************ sub-banner-wrapper *************/
.sub-banner-wrap{display: flex;flex-wrap: wrap;}
.sub-banner-wrapper .sub-banner{flex: 50% 0 0;position: relative;}

.sub-banner-wrapper .sub-banner:hover img{transform: scale(1.2);}
.sub-banner-wrapper .sub-banner a.img-box{overflow: hidden;display: block;}
.sub-banner-wrapper .sub-banner a.img-box::after{display: block;content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;transition: 1s;}
.sub-banner-wrapper .sub-banner:hover a.img-box::after{
	background: rgba(0,0,0,0.5);
}
.sub-banner-wrapper .sub-banner a.img-box img{width: 100%;
transition: 1s;}

.sub-banner-wrapper .sub-banner a:last-child{position: absolute;left: 0;top: 0;}









/************ 반응형 *************/

@media screen and (max-width: 1199px) {
	.wrapper {
		padding-left: 1em;
		padding-right: 1em;
	}

	.top-wrapper .top-wrap {
		justify-content: center;
	}

	.top-wrapper .top-wrap .icon-earth {
		display: none;
	}

	.top-wrapper .top-wrap .icon-down {
		display: none;
	}

	.top-wrapper .top-wrap .tel {
		display: none;
	}

	.top-wrapper .top-wrap .event {
		margin-left: unset;
	}

	.logo-wrapper .logo-wrap {
		width: 50px;
	}

	.logo-wrapper .bars {
		display: block;
	}

	.logo-wrapper .link-wrap {
		display: none;
	}

	.logo-wrapper .link-mo-wrap {
		display: block;
	}

	.navi-wrapper {
		display: none;
	}
}

@media screen and (max-width: 991px) {
.main-wrapper .slogan-wrapper{font-size: 0.5em;}
.main-wrapper .pager-wrapper {font-size: 0.5em;}
}
@media screen and (max-width: 767px) {
	.looking-wrapper .spot-wrapper .spot {
		flex: 33.3333% 0 0;
	}
}

@media screen and (max-width: 575px) {
	.top-wrapper .top-wrap {
		flex-direction: column;
	}
	
}